doctype html
html.noIE(lang='en-US')
  head
    meta(charset='UTF-8')
    title We See 影片详情-#{movie_data.title}
    meta(name='keywords', content='')
    link(rel='stylesheet', href='stylesheets/minified.css')
    link(rel='stylesheet', href='stylesheets/jquery.nouislider.css')
    link(rel='stylesheet', href='stylesheets/owl.carousel.css')
    link(rel='stylesheet', href='stylesheets/owl.theme.css')
    link(rel='stylesheet', href='stylesheets/innerpage.css')
    link(rel='stylesheet', href='stylesheets/responsive.css')
    link(rel='stylesheet', href='stylesheets/signin.css')
    link(rel='stylesheet', href='stylesheets/chooseseat.css')
    script.
      window.jQuery || document.write('<script src="javascripts/jquery.min.js"><\\/script>');
    script(src='javascripts/modernizr.min.js')
    script(src='javascripts/signin.js')
    script(src='javascripts/choose.js')
  body.product-single
    #page-wrapper
      #LoginBox
        .LoginBox_title
          | WE SEE电影售票系统用户登录
          a#closeBtn.close_signin(href='javascript:void(0)', title='关闭窗口') ×
        #login_error_tips 用户名或者密码错误
        .LoginBox_content
          | 用户名: 
          span.inputBox
            input#txtName(type='text', placeholder='账号/邮箱')
          a#warn.warning(href='javascript:void(0)', title='提示') *
        .LoginBox_content
          | 密    码: 
          span.inputBox
            input#txtPwd(type='password', placeholder='密码')
          a#warn2.warning(href='javascript:void(0)', title='提示') *
        .LoginBox_content
          a#loginbtn(href='#') 登录
        img(src='images/demo/register-footer.jpg')
      #RegisterBox
        .RegisterBox_title
          | WE SEE电影售票系统用户注册
          a#closeBtn.close_register(href='javascript:void(0)', title='关闭窗口') ×
        form(method='post')
          .RegisterBox_content
            | 用户名   : 
            span.inputBox
              input#register_txtName(type='text', placeholder='6~15位英文字母、数字或下划线用户名', required='', pattern='^[a-zA-z_0-9]{6,15}$')
          .RegisterBox_content
            | 密    码   : 
            span.inputBox
              input#register_txtPwd(type='password', placeholder='6~18位英文字母、数字或下划线密码', required='', pattern='^[a-zA-z_0-9]{6,18}$')
          #judge_same_password 两次密码不一致
          .RegisterBox_content
            | 重复密码: 
            span.inputBox
              input#again_txtPwd(type='password', placeholder='再次输入密码', required='')
          .RegisterBox_content
            | 邮    箱   : 
            span.inputBox
              input#register_email(type='text', placeholder='输入电子邮箱，注意邮箱格式', required='', pattern='^[a-zA-z_0-9]+@(([a-zA-z_0-9])+\.)+[a-zA-z]{2,4}$')
          .RegisterBox_content
            | 电    话   : 
            span.inputBox
              input#register_phone(type='text', placeholder='11位数字电话号码,不能以0开头', required='', pattern='^[^0]\d{10}$')
          .RegisterBox_content
            input#registerbtn(type='submit', value='注册')
        img(src='images/demo/register-footer.jpg')
      #ChooseBox
        .ChooseBox_title
          | WE SEE选座购票
          a#closeBtn.close_signin(href='javascript:void(0)', title='关闭窗口') ×
        .Seat_content
          .Screen 屏幕
          div#line_1
            span.num 1
            a.seat.active(href='javascript:;', hidefocus='true', data-no='10101', data-type='0', data-row='1', data-column='1', title='1排1座') 1
            a.seat.active(href='javascript:;', hidefocus='true', data-no='10102', data-type='0', data-row='1', data-column='2', title='1排2座') 2
            a.seat.active(href='javascript:;', hidefocus='true', data-no='10103', data-type='0', data-row='1', data-column='3', title='1排3座') 3
            a.seat.active(href='javascript:;', hidefocus='true', data-no='10104', data-type='0', data-row='1', data-column='4', title='1排4座') 4
            a.seat.active(href='javascript:;', hidefocus='true', data-no='10105', data-type='0', data-row='1', data-column='5', title='1排5座') 5
            a.seat.active(href='javascript:;', hidefocus='true', data-no='10106', data-type='0', data-row='1', data-column='6', title='1排6座') 6
            a.seat.active(href='javascript:;', hidefocus='true', data-no='10107', data-type='0', data-row='1', data-column='7', title='1排7座') 7
            a.seat.active(href='javascript:;', hidefocus='true', data-no='10108', data-type='0', data-row='1', data-column='8', title='1排8座') 8
            a.seat.active(href='javascript:;', hidefocus='true', data-no='10109', data-type='0', data-row='1', data-column='8', title='1排9座') 9
          div#line_2
            span.num 2
            a.seat.active(href='javascript:;', hidefocus='true', data-no='10201', data-type='0', data-row='2', data-column='1', title='2排1座') 1
            a.seat.active(href='javascript:;', hidefocus='true', data-no='10202', data-type='0', data-row='2', data-column='2', title='2排2座') 2
            a.seat.active(href='javascript:;', hidefocus='true', data-no='10203', data-type='0', data-row='2', data-column='3', title='2排3座') 3
            a.seat.active(href='javascript:;', hidefocus='true', data-no='10204', data-type='0', data-row='2', data-column='4', title='2排4座') 4
            a.seat.active(href='javascript:;', hidefocus='true', data-no='10205', data-type='0', data-row='2', data-column='5', title='2排5座') 5
            a.seat.active(href='javascript:;', hidefocus='true', data-no='10206', data-type='0', data-row='2', data-column='6', title='2排6座') 6
            a.seat.active(href='javascript:;', hidefocus='true', data-no='10207', data-type='0', data-row='2', data-column='7', title='2排7座') 7
            a.seat.active(href='javascript:;', hidefocus='true', data-no='10208', data-type='0', data-row='2', data-column='8', title='2排8座') 8
            a.seat.active(href='javascript:;', hidefocus='true', data-no='10209', data-type='0', data-row='2', data-column='8', title='2排9座') 9
          div#line_3
            span.num 3
            a.seat.active(href='javascript:;', hidefocus='true', data-no='10301', data-type='0', data-row='3', data-column='1', title='3排1座') 1
            a.seat.active(href='javascript:;', hidefocus='true', data-no='10302', data-type='0', data-row='3', data-column='2', title='3排2座') 2
            a.seat.active(href='javascript:;', hidefocus='true', data-no='10303', data-type='0', data-row='3', data-column='3', title='3排3座') 3
            a.seat.active(href='javascript:;', hidefocus='true', data-no='10304', data-type='0', data-row='3', data-column='4', title='3排4座') 4
            a.seat.active(href='javascript:;', hidefocus='true', data-no='10305', data-type='0', data-row='3', data-column='5', title='3排5座') 5
            a.seat.active(href='javascript:;', hidefocus='true', data-no='10306', data-type='0', data-row='3', data-column='6', title='3排6座') 6
            a.seat.active(href='javascript:;', hidefocus='true', data-no='10307', data-type='0', data-row='3', data-column='7', title='3排7座') 7
            a.seat.active(href='javascript:;', hidefocus='true', data-no='10308', data-type='0', data-row='3', data-column='8', title='3排8座') 8
            a.seat.active(href='javascript:;', hidefocus='true', data-no='10309', data-type='0', data-row='3', data-column='8', title='3排9座') 9
          div#line_4  
            span.num 4
            a.seat.active(href='javascript:;', hidefocus='true', data-no='10401', data-type='0', data-row='4', data-column='1', title='4排1座') 1
            a.seat.active(href='javascript:;', hidefocus='true', data-no='10402', data-type='0', data-row='4', data-column='2', title='4排2座') 2
            a.seat.active(href='javascript:;', hidefocus='true', data-no='10403', data-type='0', data-row='4', data-column='3', title='4排3座') 3
            a.seat.active(href='javascript:;', hidefocus='true', data-no='10404', data-type='0', data-row='4', data-column='4', title='4排4座') 4
            a.seat.active(href='javascript:;', hidefocus='true', data-no='10405', data-type='0', data-row='1', data-column='5', title='1排5座') 5
            a.seat.active(href='javascript:;', hidefocus='true', data-no='10406', data-type='0', data-row='4', data-column='6', title='4排6座') 6
            a.seat.active(href='javascript:;', hidefocus='true', data-no='10407', data-type='0', data-row='4', data-column='7', title='4排7座') 7
            a.seat.active(href='javascript:;', hidefocus='true', data-no='10408', data-type='0', data-row='4', data-column='8', title='4排8座') 8
            a.seat.active(href='javascript:;', hidefocus='true', data-no='10409', data-type='0', data-row='4', data-column='8', title='4排9座') 9
          div#line_5
            span.num 5
            a.seat.active(href='javascript:;', hidefocus='true', data-no='10501', data-type='0', data-row='5', data-column='1', title='5排1座') 1
            a.seat.active(href='javascript:;', hidefocus='true', data-no='10502', data-type='0', data-row='5', data-column='2', title='5排2座') 2
            a.seat.active(href='javascript:;', hidefocus='true', data-no='10503', data-type='0', data-row='5', data-column='3', title='5排3座') 3
            a.seat.active(href='javascript:;', hidefocus='true', data-no='10504', data-type='0', data-row='5', data-column='4', title='5排4座') 4
            a.seat.active(href='javascript:;', hidefocus='true', data-no='10505', data-type='0', data-row='5', data-column='5', title='5排5座') 5
            a.seat.active(href='javascript:;', hidefocus='true', data-no='10506', data-type='0', data-row='5', data-column='6', title='5排6座') 6
            a.seat.active(href='javascript:;', hidefocus='true', data-no='10507', data-type='0', data-row='5', data-column='7', title='5排7座') 7
            a.seat.active(href='javascript:;', hidefocus='true', data-no='10508', data-type='0', data-row='5', data-column='8', title='5排8座') 8
            a.seat.active(href='javascript:;', hidefocus='true', data-no='10509', data-type='0', data-row='5', data-column='8', title='5排9座') 9
          div#line_6
            span.num 6
            a.seat.active(href='javascript:;', hidefocus='true', data-no='10601', data-type='0', data-row='6', data-column='1', title='6排1座') 1
            a.seat.active(href='javascript:;', hidefocus='true', data-no='10602', data-type='0', data-row='6', data-column='2', title='6排2座') 2
            a.seat.active(href='javascript:;', hidefocus='true', data-no='10603', data-type='0', data-row='6', data-column='3', title='6排3座') 3
            a.seat.active(href='javascript:;', hidefocus='true', data-no='10604', data-type='0', data-row='6', data-column='4', title='6排4座') 4
            a.seat.active(href='javascript:;', hidefocus='true', data-no='10605', data-type='0', data-row='6', data-column='5', title='6排5座') 5
            a.seat.active(href='javascript:;', hidefocus='true', data-no='10606', data-type='0', data-row='6', data-column='6', title='6排6座') 6
            a.seat.active(href='javascript:;', hidefocus='true', data-no='10607', data-type='0', data-row='6', data-column='7', title='6排7座') 7
            a.seat.active(href='javascript:;', hidefocus='true', data-no='10608', data-type='0', data-row='6', data-column='8', title='6排8座') 8
            a.seat.active(href='javascript:;', hidefocus='true', data-no='10609', data-type='0', data-row='6', data-column='8', title='6排9座') 9
        .Seat_type
          p.seat_icon_info
            span.seat.active   
            |    可选座位
          p.seat_icon_info
            span.seat.sold   
            |    已售座位
          p.seat_icon_info
            span.seat.selected   
            |    已选座位
        .Seat_info
          span.Seat_title 电影名称：
          br
          span#movieTitle #{movie_data.title}
          br
          br
          span.Seat_title 票数：
          br
          span#seat_number 0
          br
          br
          span.Seat_title 位置：
          br
          span#seat_position 
          br
          br
          span.Seat_title 总价：
          br
          span#total_movie 0
          br
          br
        .Buyticket
          a#buybtn 点击购买
      header#site-header(role='banner')
        .header-top
          .container
            .row
              .col-xs-12.col-sm-6.col-md-7
                .contact-info
                  i.iconfont-film.round-icon
                  strong Welcome to WE-SEE movie
              .col-xs-12.col-sm-6.col-md-5
                ul.actions.unstyled.clearfix
                  li
                    .search-box
                      form(action='#', method='post')
                        .input-iconed.prepend
                          button.input-icon
                            i.iconfont-search
                          label.placeholder(for='input-search') Search here…
                          input#input-search.round-input.full-width(type='text', name='q', required='')
                  li
                    a#Login
                      i.iconfont-user.round-icon
                      span #{session_username}
                  li
                    a#Register
                      i.iconfont-road.round-icon
                      span 注册
          .cart-notification
            ul.unstyled
        .main-header-wrapper
          .container
            .main-header
              .logo-wrapper
                img(src='img/logo.png', style="height:70px")
              nav#site-menu(role='navigation')
                ul.main-menu.hidden-sm.hidden-xs
                  li.active
                    a(href='http://localhost:3000/home') 主页
                  li
                    a(href='http://localhost:3000/now_show_page') 正在热映
                  li
                    a(href='http://localhost:3000/later_show_page') 即将上映
                  li
                    a(href='http://localhost:3000/personal_center') 个人中心
      // BREADCRUMB
      .breadcrumb-container
        .container
          .relative
            ul.bc.unstyled.clearfix
              li 影片详情
              li #{movie_data.title}
      // // BREADCRUMB
      // SITE MAIN CONTENT
      main#main-content(role='main')
        section.section
          .container
            .row
              // PRODUCT PREVIEW
              .col-xs-12.col-sm-4
                .product-preview
                  .big-image
                    a(href='images/poster/#{movie_data.poster}.jpg', data-toggle='lightbox')
                      img(src='images/poster/#{movie_data.poster}.jpg', alt='')
              // // PRODUCT PREVIEW
              .space40.visible-xs
              // PRODUCT DETAILS
              .col-xs-12.col-sm-8
                section.product-details.add-cart
                  header.entry-header
                    h2.entry-title.uppercase #{movie_data.title}
                  article.entry-content
                    figure
                      span.entry-price.inline-middle 票价
                      span#single_price.entry-price.inline-middle #{movie_data.prize}
                      .rate-bar.inline-middle
                        input#backing0(type='range', value='4.5', step='0.5')
                        .rateit(data-rateit-backingfld='#backing0', data-rateit-starwidth='12', data-rateit-starheight='12', data-rateit-resetable='false', data-rateit-ispreset='true', data-rateit-min='0', data-rateit-max='5')
                      ul.entry-meta.unstyled
                        li
                          span.key 年份：
                          span.value #{movie_data.data}
                        li
                          span.key 类型：
                          span.value #{movie_data.type}
                        li
                          span.key 导演：
                          span.value #{movie_data.director}
                        li
                          span.key 主演：
                          span.value #{movie_data.staring}
                      .clearfix
                      figcaption.m-b-sm
                        h5.subheader.uppercase 剧情简介：
                        p #{movie_data.details}
                      ul.inline-li.li-m-r-l.m-t-lg
                        li
                          a.btn.btn-default.btn-lg.btn-round.add-to-cart(id="Chooseseat") 选座购票
              // // PRODUCT DETAILS
            .m-t-lg
              ul.nav.nav-tabs
                li.active
                  a(href='#product-description', data-toggle='tab') 详细剧情
                li
                  a(href='#product-reviews', data-toggle='tab') 相关评论
                li
                  a(href='#product-shipping', data-toggle='tab') 其他信息
              .tab-content
                #product-description.tab-pane.fade.in.active
                  p #{movie_data.details}
                #product-reviews.tab-pane.fade.in
                  p #{movie_data.comments}
                #product-shipping.tab-pane.fade.in
                  p #{movie_data.other}
      // // SITE MAIN CONTENT
      // SITE FOOTER
      footer.page-footer
        .widgets
          .section
            .container
              .row
                .col-xs-12.col-sm-12.col-md-3
                  section.widget.widget-menu
                    h5.widget-title 联系我们
                    .widget-content
                      ul.menu.iconed-list.unstyled
                        li
                          span.list-icon
                            i.round-icon.iconfont-map-marker
                          .list-content Sun Yat-sen University, SYSU
                        li
                          span.list-icon
                            i.round-icon.iconfont-phone
                          .list-content 123-456-789
                        li
                          span.list-icon
                            i.round-icon.iconfont-envelope-alt
                          .list-content email@themina.com
                .col-xs-12.col-sm-12.col-md-6
                  section.widget.widget-ads
                    .widget-content
                      .center-xs
                        .ads
                          a(href='#')
                            img(src='images/demo/images-footer.jpg', alt='')
                          .ads-caption.bottom-right
                            a.btn.btn-default.btn-round(href='#')
                              i.round-icon.iconfont-angle-right
                              span.inline-middle More movie
                .col-xs-12.col-sm-12.col-md-3
                  section.widget.widget-subscription
                    .vmid
                      span.uppercase 友情链接
                      a(href='#')
                        img(src='img/visacard.png', alt='', width='40')
                      a(href='#')
                        img(src='img/mastercard.png', alt='', width='40')
                      a(href='#')
                        img(src='img/paypal.png', alt='', width='40')
          // // SECOND ROW
        // // WIDGET AREA
        .footer-sub
          .container
            .row
              .col-xs-12.col-sm-6
                .footer-links.center-xs.clearfix
                  | @We-see movie
                .space10
    script(src='javascripts/minified.js')
    script(src='javascripts/jquery.nouislider.js')
    script(src='javascripts/owl.carousel.js')
    script(src='javascripts/products.js')
    script(type='text/javascript').
      var disqus_shortname = 'gfashion';
      (function() {
      var dsq = document.createElement('script'); dsq.async = true;
      dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
